Header onsuccess set X-Robots-Tag "noindex,nofollow"
RedirectMatch 307 "(.*)tumblrm9jnpgajzp1r47bcz.jpg" "$1missing-thumb.webp"
RedirectMatch 307 "(.*)tumblrmo2nyfvuct1qbcpor.jpg" "$1missing-thumb.webp"
RedirectMatch 307 "(.*)qmwprometheasunrising.jpg" "$1missing-thumb.webp"
RedirectMatch 307 "(.*)qmwspaceinmind.jpg" "$1missing-thumb.webp"
RedirectMatch 307 "(.*)tumblrmnu1qrvuuh1st2g3t.png" "$1missing-thumb.webp"
RedirectMatch 307 "(.*)qmwconsumebesilentdie.jpg" "$1missing-thumb.webp"
RedirectMatch 307 "(.*)qmwstareye.jpg" "$1missing-thumb.webp"
RedirectMatch 307 "(.*)qmwdarkpilgrim.jpg" "$1missing-thumb.webp"
